@font-face {
     font-family: "yekan";
     src: url('font/BYekanWeb.eot');
     src: url('font/BYekanWeb.ttf') format('ttf'),
          url('font/BYekanWeb.woff') format('woff');
}
body {
     font-family: "yekan";
     background-color: #000;
     direction: rtl;
     margin-top: 40px;
}
.drop ul{
     list-style-type: none;
     position: absolute;
}
.drop ul ul{
     display: none;
     margin-top: 8px;
     right: -5px;
     background-color: rgb(97, 95, 95);
     border-radius: 10px;
}
.drop ul li:hover ul{
     display: block;
}
.drop ul li{
     float: right;
     position: relative;
     padding: 8px 10px;
     font-size: 22px;
}
.drop ul li a{
     text-decoration: none;
     color: #fff;
}
.drop ul ul li{
     float: none;
     position: relative;
     border-bottom: 1px solid rgb(145, 142, 142);
}
.drop ul ul li a{
     position: relative;
     text-align: center;
}
.drop ul ul li:hover{
     position: relative;
}
.drop ul li:hover{
     background-color: red;
     color: #fff;
     transition: 0.3s;
     border-radius: 5px;

}
.text-head{
     margin: 20px auto;
     display: block;
     width: 500px;
     height: 20px;

}
.text-head h1{
     color: red;
     cursor: pointer;
}
.text-head h1:hover{
     color: #fff;
     transition: 0.3s;
}
.bu{
     position: relative;
     margin-bottom: 8px;
     margin-right: 40px;
     transform: skew(-18deg);
     border: 0;
     background-image: linear-gradient(to left, red, rgb(211, 111, 111));
}
.btn{
     transform: skew(18deg);
}
.bu:hover{
     background-image: linear-gradient(to right, red, rgb(214, 104, 104));
     transition: 0.3s;
     cursor: pointer;
}
.body-col{
     width: 96%;
     height: 250px;
     border: 1px solid rgb(58, 55, 55);
     margin: 0px auto;
}
.fluid{
     overflow: auto;
}
.big-div{
     display: flex;
     justify-content: center;
}
.pic-div{
     width: 200px;
     height: 150px;
     /* background-color: #fff; */
     margin: 14px 8px;
     /* overflow: hidden; */
}
.text-div{
     width: 200px;
     height: 60px;
     background-color: rgb(65, 61, 61);
}
.text-div p{
     color: #fff;
     padding: 8px 20px;
     font-size: 16px;
}
.text-div p:hover{
     color: red;
     cursor: pointer;
     transition: 0.3s;
}
.pos {
     position: relative;
     transition: 0.3s;
}
.pos:hover{
     transform: scale(1.3);
}
.bu2{
     position: absolute;
     bottom: 5px;
     margin-right: 10px;
     margin-top: 6px;
     transform: skew(-15deg);
     background-color: red;
     border: 0;
     width: 45px;
     height: 25px;
}
.bu2 .btn2{
     transform: skew(15deg);
     color: #fff;
     /* position: absolute; */
}
.bu2:hover{
     background-color: #000;
     transform: skew(15deg);
     transition: 0.3s;
}
.bu2 .btn2:hover{
     transform: skew(-15deg);
     transition: 0.3s;
}
.pos:hover{
     /* filter: sepia(40%); */
     transition: 0.3s;
     filter: grayscale(90%);
}
@media screen and(max-width:600px){
     .media{
          width: 30%;
     }
}
.more{
     width: 96%;
     height: 30px;
     background-color: rgb(65, 61, 61);
     color: #fff;
     margin: 22px auto;
}
.more p{
     text-align: center;
     padding-top: 5px;
}
.more:hover{
     border: 1px solid rgb(95, 91, 91);
     filter: grayscale(80%);
     transition: 0.3s;
     cursor: pointer;
}
.body-middle{
     width: 100%;
     height: 100%;
     background-color: #f1f1f1;
     margin: 20px auto;
}
.boot{
     margin-top: 100px;
}
.mid-pic-3{
     width: 300px;
     height: 80px;
     background-color: #fff;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mid-pic-3 p{
     font-size: 18px;
     padding: 10px 30px;
}
.mid-pic-3 p:hover{
     color: rgb(68, 68, 197);
     cursor: pointer;
     transition: 0.3s;
}
.pos2{
     position: relative;
}
.bu3{
     position: absolute;
     bottom: 85px;
     right: 18px;
     border: 0;
     background-color: red;
     transform: skew(-15deg);
}
.bu3 .btn3{
     /* position: absolute; */
     transform: skew(15deg);
     color: #fff;
}
.bu3:hover{
     background-color: #000;
     transition: 0.3s;
     transform: skew(15deg);
}
.bu3 .btn3:hover{
     transform: skew(-15deg);
     transition: 0.3s;
}
.pos4{
     transition: 0.3s;
}
.pos4:hover{
     filter: grayscale(100%);
     transform: scale(1.3);
     cursor: pointer;
}
.pos2{
     /* transition: 0.3s; */
     opacity: 0.3;
}
.pos2:hover{
     /* filter: grayscale(100%); */
     /* transform: scale(1.3); */
     cursor: pointer;
     opacity:0.250;
}
.pos3{
     /* transition: 0.3s; */
     opacity: 0.5;
}
.pos3:hover{
     /* filter: grayscale(100%); */
     /* transform: scale(1.3); */
     cursor: pointer;
     opacity: 0.4;
}
.pos2{
     position: relative;

}
.middle-p{
     position: absolute;
     top: 22%;
     right: 25px;
     width: 200px;
     height: 10px;
}
.middle-p p {
     font-size: 14px;
     color: #fff;
     font-weight: 800;
     cursor: pointer;
}
.pos3{
     position: relative;
}
.middle-sp{
     position: absolute;
     bottom: 22%;
     right: 25px;
     width: 200px;
     height: 10px;
}
.middle-sp span{
     color: #fff;
     font-weight: 800;
     cursor: pointer;
     font-size: 14px;
}
.right-pic{
     float: right;
}
.right-pic p{
     float: left;
}
.right-pic p{
     clear: right;
}
.a-right{
     font-size: 19px;
     text-align: center;
     text-decoration: none;
     float: left;
     margin-left: 16px;
     margin-top: 25px;
     color: #000;
}
.a-right:hover{
     color: blue;
     text-decoration: none;
}
.p-right{
     position: absolute;
     float: left;
     width: 310px;
     height: 130px;
     background-color: #fff;
     top: 70px;
     left: 20px;
}
.right-img{
     position: relative;
     width: 215px;
     height: 130px;
     top: 38px;
     transition: 0.3s;
}
.right-img:hover{
     filter: grayscale(100%);
     cursor: pointer;
}
.right{
     display: flex;
     flex-wrap: wrap;
     width: 50%;
     height: 300px;
     background-color: #f1f1f1;
     justify-content: space-around;
}
.right > div{
     width: 280px;
     height: 100px;
     background-color: #fff;
     margin: 5px;
     margin-top: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bo-r1{
     width: 180px;
     height: 100px;
     float: left;
     margin-top: 10px;
}
.bo-r1 a{
     text-decoration: none;
     color: #000;
}
.bo-r1 a:hover{
     color: blue;
     transition: 0.3s;
}
.right img:hover{
     filter: grayscale(100%);
     transition: 0.3s;
     cursor: pointer;
}
.more2{
     width: 45%;
     height: 30px;
     background-color: #d5d3d3;
     display: flex;
     justify-content: center;
     margin-right: 40px;
     opacity: 0.6;
}
.more2:hover{
     opacity: 1;
     cursor: pointer;
}
.middle{
     width: 250px;
     height: 250px;
     background-color: #000;
}
.bottom-middle-pic1{
     opacity: 1;
     transition: 0.3s;
     position: relative;
}
.bottom-middle-pic1:hover{
     opacity: 0.7;
     cursor: pointer;
}
.bu-bottom{
     border: 0;
     position: absolute;
     transform: skew(-18deg);
     background-color: red;
     right: 25px;
     bottom: 110px;
}
.bu-bottom div{
     transform: skew(18deg);
     color: #fff;
}
.bu-bottom:hover{
     transform: skew(18deg);
     transition: 0.3s;
     background-color: #000;
}
.bu-bottom div:hover{
     transform: skew(-18deg);
}
.bmp-1-text{
     width: 300px;
     height: 100px;
     background-color: #fff;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.bmp-1-text p{
     color: #000;
     font-size: 18px;
     padding: 17px 8px 0 0;
}
.bmp-1-text p:hover{
     color: blue;
     transition: 0.3s;
     cursor: pointer;
}
.bu-bottom2{
     margin-top: 20px;
     margin-right: 38px;
     background-image: linear-gradient(to left, rgb(243, 31, 31), rgb(223, 140, 140));
     border: 0;
     transform: skew(-18deg);
     width: 120px;
     height: 50px;
     display: inline-block;

}
.bu-bottom2 div{
     transform: skew(18deg);
     color: #fff;
     font-size: 16px;
     display: inline-block;
}
.bu-bottom2:hover {
     background-image: linear-gradient(to right, rgb(232, 54, 54), rgb(209, 135, 135));
     transition: 0.3s;
}
.brp-div{
     margin-right: 22px;
     margin-top: 20px;
     position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     float: right;
}
.brp-1{
     opacity: 1;
     transition: 0.3s;
}
.brp-1:hover{
     opacity: 0.7;
     cursor: pointer;
}
.last-pic{
     /* float: left; */
     margin-top: 120px;
}
.bu-buttom3 {
     position: relative;
     border: 0;
     background-color: red;
     transform: skew(-18deg);
     bottom: 35px;
     right: 20px;
}
.bu-buttom3 div{
     transform: skew(18deg);
     color: #fff;
}
.bu-buttom3:hover{
     transform: skew(18deg);
     transition: 0.3s;
     background-color: #000;
}
.bu-buttom3 div:hover{
     transform: skew(-18deg);
}
.bu-bottom-text{
     width: 350px;
     height: 230px;
     background-color: #fff;
     margin-right: 22px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
     float: right;
     display: inline-block;
}
.bu-bottom-text p{
     font-size: 18px;
     padding: 8px;
}
.bu-bottom-text p:hover{
     color: blue;
     cursor: pointer;
     transition: 0.3s;
}
.bu-bottom-text p[title="p2"]{
     margin-right: 12px;
     font-size: 15px;
     color: #000;

}
.last-pic1 button{
     background-color: red;
     border: 0;
     width: 100px;
     height: 30px;
     border-radius: 8px;
     color: #fff;
     opacity: 1;
     transition: 0.3s;
}
.last-pic1 button:hover{
     opacity: 0.6;
     width: 150px;
}
.last-pic1 img{
     margin: 16px;
     transition: 0.3s;
}
.last-pic1 img:hover{
     cursor: pointer;
     filter: sepia(1);
}
.footer{
     width: 100%;
     height: 100px;
     background-color: rgb(68, 65, 65);
}
.footer p{
     font-size: 20px;
     color: rgb(123, 122, 122);
     margin-right: 30px;
     padding-top: 30px;
}







